.ChildProfile {
  background-color: orangered;
}

.child-pic {
  background-color: black;
  border-radius: 98%;
  height: auto;
  width: 300px;
}

.planetName{
  color: mediumaquamarine;
  background-color:#3a22281c;
  font-size: 65px;
}

.child-dashpic {
  height: auto;
  width: 300px;
}