body {
  margin: 0;
  padding: 0;
  background-image: url("https://img.culturacolectiva.com/featured_image/2017/12/12/1513089206998/music-space-1_opt.jpg");

  background-size: 100%;
  font-family: 'Gaegu', cursive;
}