.Dashboard {
  margin: 0;
  padding: 0;
  background-image:
  url("https://img.culturacolectiva.com/featured_image/2017/12/12/1513089206998/music-space-1_opt.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: -20px;
  overflow: hidden;
  position: absolute;
  margin-left: -135px;
  background-size: 100%;
  font-family: 'Gaegu', cursive;
}
.avatar-pics {
  max-height: 200px;
  max-width: 210px;
}

.child-profile {
  margin-top: 20px;
}

.newChild {
  background-color: transparent;
  border: transparent;
}

.createChild {
  height: 299px;
  padding: 20px;
  background-color: #d6baba2e;
}

.addNew {
  font-size: 54px;
  padding: 14px;
  color: white;
}